{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
    <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">
    <link rel="stylesheet" href="{% static 'css/media-queries320.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="textura"></div>
    <div id="head">
        <div id="logo">
            <img id="logoid" src="/static/css/img/gladiator-gym-logo-troeshina.jpg">
        </div>
        <div id="number">
            <p> +38 (095) 847 43 41</p>
            <a id="instagram" font-size='18' href='https://www.instagram.com/gladiator_gym7/'>Instagram</a></p>
        </div>
        <div id="adress">
            <p>Gladiator Gym<br />
            Киев,Украина, 02000<br />
         улица Костянтина<br />
             Данькевича, 12</p>
        </div>
    </div>
<div id="nav" align="center">
    <nav id="hnav">
        <a align='center' class="nav_link" href=''>Главная</a>
        <a align='center' class="nav_link" href='raspisanie/'>Расписание</a>
        <a align='center' class="nav_link" href='price/'>Цены</a>
        <a align='center' class="nav_link" href='uslugi/'>Услуги</a>
    </nav>
</div>

<div id="foot">
    <div id="footdiv1">
        <h4 id="footh">ПОСЕТИТЕ НАШ КЛУБ</h4>
        <ul id="footinfa">
            <li class="li">
                <img class="limarker" src="/static/css/img/8168.png" align="left">
                ул. Константина Данькевича, 12<br />
                    Киев, Украина, 02000<br />
            </li>
            <li class="li" id="li2">
                <img class="limarker" src="/static/css/img/phone_PNG48972.png" align="left">
                +38 (095) 847 43 41<br /><br />
            </li>
            <li class="li" id="li3">
                <img class="limarker" src="/static/css/img/84517.png" align="left">
                gladiator_gym@i.ua<br />
                info@gladiator-gym.com.ua<br />
            </li>
        </ul>
    </div>
    <div id="footdiv2">
        <img id="footlogo" src="/static/css/img/gladiator-gym.png" >
        <p id="avtorlogo">© 2018 Gadiator Gym</p>
    </div>
</div>
</body>
</html>