{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
    <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">
    <link rel="stylesheet" href="{% static 'css/media-queries320.css' %}">
    <title>Gladiator Gym</title>
</head>
<body>
    <div id="textura"></div>
    <div id="head">
        <div id="logo">
            <img id="logoid" src="/static/css/img/gladiator-gym-logo-troeshina.jpg">
        </div>
        <div id="number">
            <p> +38 (095) 847 43 41</p>
            <a id="instagram" font-size='18' href='https://www.instagram.com/gladiator_gym7/'>Instagram</a></p>
        </div>
        <div id="adress">
            <p>Gladiator Gym<br />
            Киев,Украина, 02000<br />
         улица Костянтина<br />
             Данькевича, 12</p>
        </div>
    </div>
<div id="nav" align="center">
    <nav id="hnav">
        <a align='center' class="nav_link" href='http://danila228822.pythonanywhere.com/'>Главная</a>
        <a align='center' class="nav_link" href='http://danila228822.pythonanywhere.com/price/'>Цены</a>
        <a align='center' class="nav_link" href='http://danila228822.pythonanywhere.com/uslugi/'>Услуги</a>
    </nav>
</div>

<div id="osnovsuslugi">
    <h4 class="hsolariy" align="center">Солярий Gladiator Gym</h4>
    <img class="imguslugi" src="/static/css/img/Luxura-V5-42-XL-Intensive-1.jpg" alt="">
    <img class="imguslugi" src="/static/css/img/Luxura-V5-42-XL-Intensive-2.jpg" alt="">
    <img class="imguslugi" src="/static/css/img/Luxura-V5-42-XL-Intensive-3.jpg" alt="">
    <img class="imguslugi" src="/static/css/img/Luxura-V5-42-XL-Intensive-4.jpg" alt="">
    <h6 id="osnovsuslugi1" align="center">Вертикальный профессиональный солярий Luxura V5 42 XL Intensive</h6>
    <p id="solariytext" align="center">Даже те, кто в большинстве случаев предпочитают пляжный загар, не откажутся позагорать на ложе нашего вертикального турбо-солярия Luxura V5 42 XL Intensive.

Вы сможете получить красивый и равно- мерный загар благодаря последним техническим разработкам специалистов и мощным  лампам этого солярия!  </p>

    <table id="table" border="3" align="center" cellpadding="15" cellspacing="10">
        <tr>
            <th>Количество минут</th>
            <th>Стоимость (грн./мин.)</th>
            <th>Стоимость грн.</th>
            <th>Срок действия</th>
            <th>Экономия грн.</th>

        </tr>
        <tr>
            <th>1 минута</th>
            <th>4</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
        <tr>
            <th>50 минут</th>
            <th>3,5</th>
            <th>175</th>
            <th>2 месяца</th>
            <th>55</th>

        </tr>    
        <tr>
            <th>100 минут</th>
            <th>3,0</th>
            <th>300</th>
            <th>6 месяцев</th>
            <th>100</th>


        </tr>    
        <tr>
            <th>Стики, шапочка</th>
            <th></th>
            <th>3</th>
            <th></th>
            <th></th>

        </tr>    
        <tr>
            <th>Крем </th>
            <th></th>
            <th>30</th>
            <th></th>
            <th></th>

        </tr>        


    </table>
    <hr/>
    <h4 class="hsolariy" align="center">Персональный шкафчик Gladiator Gym</h4>
    <img class="imguslugi" src="/static/css/img/skafziki-1.jpg" alt="">
    <img class="imguslugi" src="/static/css/img/skafziki-2.jpg" alt="">
    <img class="imguslugi" src="/static/css/img/skafziki-3.jpg" alt="">
    <img class="imguslugi" src="/static/css/img/skafziki-4.jpg" alt="">
    <p align="center" id="shkaf"> * Персональный шкафчик - 100грн/мес.</p>
</div>

<div id="foot">
    <div id="footdiv1">
        <h4 id="footh">ПОСЕТИТЕ НАШ КЛУБ</h4>
        <ul id="footinfa">
            <li class="li">
                <img class="limarker" src="/static/css/img/8168.png" align="left">
                ул. Константина Данькевича, 12<br />
                    Киев, Украина, 02000<br />
            </li>
            <li class="li" id="li2">
                <img class="limarker" src="/static/css/img/phone_PNG48972.png" align="left">
                +38 (095) 847 43 41<br /><br />
            </li>
            <li class="li" id="li3">
                <img class="limarker" src="/static/css/img/84517.png" align="left">
                gladiator_gym@i.ua<br />
                info@gladiator-gym.com.ua<br />
            </li>
        </ul>
    </div>
    <div id="footdiv2">
        <img id="footlogo" src="/static/css/img/gladiator-gym.png" >
        <p id="avtorlogo">© 2018 Gadiator Gym</p>
    </div>
</div>
</body>
</html>