@media only screen and (max-width: 1101px) {
	#logo{
    margin-top: 5px;
    margin-bottom: 4px;
    margin-left:2%;
    float: left;
    height: 124px;
    width: 20%;

}
#number{
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-left: 22%;
    float: left;

}
#adress{
    margin-top: 10px;
    font-weight: bold;
    color:#bf8819;
    float: left;
    height: 124px;
    font-family: Comic Sans MS, Comic Sans, cursive ;
    width: 15%;
}
#nav{
    margin-right: 25%;
    font-family: IMPACT;
    border-bottom:1px solid #594f4f;
    height: 50px;
    font-size: 24px;
    text-decoration: none;
}
.nav_link{
    margin:0;
    text-align: center;
    margin: 8px;
    margin-bottom: -8px;
    text-decoration: none;
    color: #f0efeb;
    transition: color .2s linear;

}
#plusi{
    margin:0;
    background: url('img/white-paper-texture-background-or-cardboard-surface-from-a-paper-box-for-packing-and-for-the-s-decoration-and-nature-background_174431-9.jpg') center  no-repeat;
    background-size: cover;
    width: 100%;
}
#h{
    margin-top: 30px;
    color:#000000;
    font-size: 30px;
    text-align: center;
    margin:0;
}
#text{
    color:#2e2e2e;
    font-family: VERDANA;
    margin-right: 80px;
    margin-left: 80px;
    font-size: 18px;
}
#foot{
    margin: 0;
    height: 390px;
    display: flex;
    justify-content: space-between;
    background: url('img/unnamed.jpg') center  no-repeat;
    background-size: cover;
    padding: 1em;
    box-sizing: border-box;
}
#footh{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
#foot div{
	width: 45%;
    margin-top: 30px;
    background:background: rgba(205, 214, 219, 0);

}
#footdiv2{
	margin-right: 3%;   

}
#footdiv1{
	margin-left: 5%;
    
}
#footlogo{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    margin-bottom: 0;
}
#avtorlogo{
    margin:0;
    text-align: center;
}
.znak{
    width: 50px;
    height: 50px;
    margin: 8px;
}
#footinfa{
	margin: 0px;
	width: 100%;
    font-size: 14px;
}
.li{
    margin:15px;
    color:#000000;
    list-style-type: none;
}
.limarker{
    margin-right: 5px;
    height: 30px;
    width: 30px;
}
